{
    "project_name": "Automated Download Backup",
    "version": "1.0.0",
    "BACKUP_BATCH": 10,
    "source_settings": {
        "target_directory_name": "Downloads",
        "sandbox_mode": false,
        "target_directory_path": "test/sandbox/downloads"
    },
    "backup_target": {
        "volume_label": "SELECT",
        "backup_directory_name": "Backups",
        "backup_directory_path": "D:\\Backups"
    }
}